{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <ul>
    {% for cafe in g.docs('cafes')|sort(attribute='title') %}
    <li><a href={{cafe.url.path}}>{{cafe.title}}</a>{% if cafe.favorite %}&nbsp;<span>★</span>{% endif %}
    {% endfor %}
  </ul>
  <div id=map></div>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 53.57131, lng: 9.94578}
      });
      setMarkers(map);
    }

    var venues = [
      {% for cafe in g.docs('cafes') %}
      {% for cafelocation in cafe.locations %}
        ['{{cafe.title}}', {{cafelocation.coordinates}}],
      {% endfor %}
      {% endfor %}
    ];

    function setMarkers(map) {
      for (var i = 0; i < venues.length; i++) {
        var venue = venues[i];
        var marker = new google.maps.Marker({
          position: {lat: venue[1], lng: venue[2]},
          map: map,
          title: venue[0]
        });
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgBcUrt1NB0yfwUE715cEdCrtDvzICoz8&amp;callback=initMap&amp;language=de" async defer></script>
{% endblock %}