{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <ul>
    {% for cafes in g.docs('cafes')|sort(attribute='title') %}
    <li><a href={{cafes.url.path}}>{{cafes.title}}</a> {% if cafes.favorite %}<span>★</span>{% endif %}
    {% endfor %}
  </ul>
  <iframe src="https://www.google.de/maps/embed/v1/search?q={{_('café')}}%20hamburg&amp;key=AIzaSyDgBcUrt1NB0yfwUE715cEdCrtDvzICoz8&amp;language=de"></iframe>
  <p>(Die auf der Karte gezeigten Cafés sind nicht alle auf HH Kaffee vertreten, da wir diese sorgfältig auswählen. Wenn Sie ein Café wirklich sehr vermissen, <a href={{g.url('/content/pages/contact.md').path}}>{{_('kontaktieren Sie uns bitte')}}</a>.)
{% endblock %}