{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <div id=stage>
    <section>
      <h2>{{_('Hamburger Röstereien')}}</h2>
      <a href={{g.url('/content/roasters/elbgold.md').path}}><img src={{g.doc('/content/roasters/elbgold.md').logo}} alt="{{g.doc('/content/roasters/elbgold.md').title}}"></a>
      <p>{{_('Unser Lieblingsröster:')}} <a href={{g.url('/content/roasters/elbgold.md').path}}>{{g.doc('/content/roasters/elbgold.md').title}}</a>
      {% for posts in g.docs('roasters')[7:8] %}
      <p>{{_('Auch dabei:')}} <a href={{posts.url.path}}>{{posts.title}}</a>
      {% endfor %}
      <p>⚐ <a href={{g.url('/content/pages/roasters.md').path}}>{{_('Alle Röstereien')}}</a>
    </section>
    <section>
      <h2>{{_('Hamburger Cafés')}}</h2>
      <a href={{g.url('/content/cafes/tornqvist.md').path}}><img src={{g.doc('/content/cafes/tornqvist.md').logo}} alt="{{g.doc('/content/cafes/tornqvist.md').title}}"></a>
      <p>{{_('Unser Lieblingscafé:')}} <a href={{g.url('/content/cafes/tornqvist.md').path}}>{{g.doc('/content/cafes/tornqvist.md').title}}</a>
      {% for posts in g.docs('cafes')[0:1] %}
      <p>{{_('Auch dabei:')}} <a href={{posts.url.path}}>{{posts.title}}</a>
      {% endfor %}
      <p>⚐ <a href={{g.url('/content/pages/cafes.md').path}}>{{_('Alle Cafés')}}</a>
    </section>
    <section>
      <h2>{{_('Meinungen und Empfehlungen')}}</h2>
      <ul>
        {% for posts in g.docs('posts', order_by='date', reverse=True)[0:3] %}
        <li><a href={{posts.url.path}}>{{posts.title}}</a> · {{posts.html|striptags|truncate(125, end=' …')}}
        {% endfor %}
      </ul>
      <p>⚐ <a href={{g.url('/content/pages/posts.md').path}}>{{_('Aller Schnack')}}</a> · <a href={{g.url('/content/pages/feed.yaml').path}}>{{_('RSS-Feed')}}</a>
    </section>
  </div>
{% endblock %}