{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <p>
    {%- if doc.coffee %}{{_('Filterkaffee ab')}} {{doc.coffee}}&nbsp;€ · {% endif %}
    {%- if doc.espresso %}{{_('Espresso')}} {{doc.espresso}}&nbsp;€ · {% endif %}
    {{-_('WLAN:')}} {{doc.internet}}
    {%- if doc.favorite %} · HH-Kaffee-Favorit ★{% endif %}
  <h2 id=websites>{{doc.title}} {{_('online')}}</h2>
  <ul>
    {% if doc.website %}
      <li><a href={{doc.website}}>{{_('Website')}}</a>
    {% endif %}
    {% if doc.twitter %}
      <li><a href={{doc.twitter}}>{{_('Twitter')}}</a>
    {% endif %}
    {% if doc.facebook %}
      <li><a href={{doc.facebook}}>{{_('Facebook')}}</a>
    {% endif %}
    {% if doc.instagram %}
      <li><a href={{doc.instagram}}>{{_('Instagram')}}</a>
    {% endif %}
    {% if doc.email %}
      <li><a href=mailto:{{doc.email}}>{{_('E-Mail')}}</a>
    {% endif %}
  </ul>
  {% if doc.locations %}
    <h2 id=locations>{{_('Adressen und Öffnungszeiten')}}</h2>
    <ul>
      {% for location in doc.locations %}
      <li>
        <p><a href=https://www.google.de/maps/place/{{location.address|replace('<br>', ', ')|replace(' ', '%20')}}>{{location.address|safe}}</a>
        {%- if location.phone -%}
        <br><a href=tel:+49-40-{{location.phone|safe}}>040-{{location.phone|safe}}</a>
        {% endif %}
        {% if location.hours %}
        <p>{{location.hours|safe}}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  <div id=map></div>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 53.57131, lng: 9.94578}
      });
      setMarkers(map);
    }

    var venues = [
      {# https://www.gps-coordinates.net/ #}
      {% for location in doc.locations %}
        ['{{doc.title}}', {{location.coordinates}}],
      {% endfor %}
    ];

    function setMarkers(map) {
      for (var i = 0; i < venues.length; i++) {
        var venue = venues[i];
        var marker = new google.maps.Marker({
          position: {lat: venue[1], lng: venue[2]},
          map: map,
          title: venue[0]
        });
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgBcUrt1NB0yfwUE715cEdCrtDvzICoz8&amp;callback=initMap&amp;language=de" async defer></script>
  <ul class=meta>
    {% set next_doc = doc.next() %}
    {% set prev_doc = doc.prev() %}
    {% if prev_doc %}
      <li>←&nbsp;<a href={{prev_doc.url.path}}>{{prev_doc.title}}</a>
    {% endif %}
    {% if next_doc %}
      <li><a href={{next_doc.url.path}}>{{next_doc.title}}</a>&nbsp;→
    {% endif %}
  </ul>
{% endblock %}