@import url(https://fonts.googleapis.com/css?family=Lato);

::selection {
	background: #000;
	color: #fff;
}

html,
div#map,
h2#locations + ul li p {
	margin: 0;
}

html {
	background: #fff;
	color: #000;
	font: .75em/1.75 optima, lato, sans-serif;
	padding: 1.33em 1em 1em;
}

body {
	margin: auto;
	max-width: 500px;
}

header,
div#stage,
h2#locations + ul,
h2#websites + ul {
	overflow: auto;
}

header {
	margin: 0 0 2em;
}

header img,
div#stage section,
h2#locations + ul li p,
h2#websites + ul li {
	float: left;
}

header img {
	border: 0;
	margin-right: .5em;
	width: 53px;
}

footer {
	border-top: 2px solid;
	clear: both;
	margin: 2em 0 0;
	padding: .3em 0 0;
}

nav ul,
h2#locations + ul,
h2#websites + ul,
ul.meta {
	list-style: none;
}

nav ul {
	padding: .58em 0;
}

nav li,
ul.meta li {
	display: inline;
}

nav li {
	padding: .5em;
	position: relative;
	top: .5em;
}

nav li a:focus,
nav li a:hover,
nav li a:active,
a {
	text-decoration: none;
}

nav li a:focus,
nav li a:hover,
nav li a:active {
	background: #e30613;
	color: #fff;
	outline: .5em solid #e30613;
}

p,
h2#locations + ul,
h2#websites + ul,
ul.meta {
	margin: 1em 0;
}

p + ul + div#map {
	margin-top: 2em;
}

div.video,
div#promo,
ul.meta {
	text-align: center;
}

div.video {
	margin: 2em 0 1em;
}

div#promo,
div#map,
object,
img.product {
	border-radius: 2px;
}

div#promo,
div#map ~ ul.meta {
	margin-top: 1.38em;
}

div#promo {
	background: #fcfcfc;
	border: 2px solid #f7f7f7;
	padding: .3em .2em .2em;
}

div#promo p {
	margin: .5em 0;
}

div#promo p:first-child,
div#stage section h2 {
	margin-top: 0;
}

div#promo p:last-child,
div#stage section:last-child p:last-child {
	margin-bottom: 0;
}

div#map,
div#stage section img,
object,
img.logo,
img.product {
	border: 2px solid;
}

div#map {
	height: 300px;
	width: calc(100% - 4px);
}

div#stage section {
	margin: .5em 0 0;
	width: calc(50% - 1em);
}

div#stage section:nth-child(2n-1) {
	padding-right: 2em;
}

div#stage section:last-child {
	padding-right: 0;
	width: 100%;
}

div#stage section img,
img.logo,
img.product {
	float: right;
}

div#stage section img,
img.logo {
	border-radius: 50%;
	filter: grayscale(100%);
}

div#stage section img {
	height: 49px;
	margin: -.17em 0 1em 1em;
	width: 49px;
}

div#stage section img:focus,
div#stage section img:hover,
div#stage section img:active,
img.logo:focus,
img.logo:hover,
img.logo:active {
	filter: grayscale(0);
}

h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	font-size: 1.75em;
	line-height: 1.42;
	margin: 0 0 .57em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.33;
	margin: 1em 0 .67em;
}

h2#locations + ul,
h2#websites + ul,
ul,
ol {
	padding: 0;
}

h2#locations + ul li {
	clear: left;
}

h2#locations + ul li p {
	padding: 0 0 1em;
	width: 50%;
}

h2#websites + ul li {
	padding-right: 1em;
}

h3 {
	font-size: 1em;
	line-height: 1.75;
	margin: 1em 0 -1em;
}

ul,
ol {
	margin: 1em 0 1em 1.5em;
}

ul.meta li {
	padding: 0 .5em;
}

object {
	height: 270px;
	width: 480px;
}

img.logo,
img.product {
	margin: .33em 0 1em 1em;
}

img.logo {
	height: 110px;
	width: 110px;
}

img.product {
	width: 100px;
}

a {
	color: #e30613;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
}

strong,
em {
	font-style: italic;
	font-weight: 400;
}

span,
.meta {
	color: #888;
}

@media screen and (max-width: 484px) {

	object {
		width: calc(100% - 4px);
	}

}

@media screen and (max-width: 390px) {

	header {
		margin-bottom: 1em;
	}

	nav li {
		top: .25em;
	}

	nav li a {
		outline-width: .25em !important;
	}

	div#stage section {
		float: none;
		padding-right: 0 !important;
		width: 100%;
	}

}

@media print {

	* {
		color: #000 !important;
	}

	html,
	body {
		margin: 1em 0;
		padding: 0;
	}

	footer {
		border-top: 1px solid #f1f1f1;
	}

	nav,
	div#promo,
	ul.meta {
		display: none;
	}

	strong,
	em {
		font-weight: 500;
	}

}